.mb-3{
    width: 300px;
   

}
.btn{
    width: 300px;
    border-radius: 20px;


}
input{
    border: 2px solid black;
    border-radius: 20px;
}

.parent{
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   /* border: 1px solid red; */
   background-image: url('https://t3.ftcdn.net/jpg/08/68/51/04/240_F_868510427_vsvN67LV1zSmLMyXMOFG05tRCmTAj1xL.jpg');
  background-size: cover;
}
    
.main{
display: flex;
flex-direction: column;
gap: 30px;
border: 2px solid white;
height: 50%;
width: 35%;
align-items: center;
justify-content: center;
border-radius: 10px;
}
