input{
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 0;
    outline: 0;
    padding: 5px;
}
select{
    height: 40px;
    width: 50px;
    border-radius: 5px;
    border: 0;
    outline: 0;
}
.pagination{
    display: flex;
    gap: 10px;
   
}