<div class="parent">
    <div class="head">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <div class="container-fluid">
               <span class="navbar-text"> &nbsp;Employee Database Management System  <i class="bi bi-database-fill"></i></span>
            </div>
          </nav>
             <div class="container-fluid mt-3">
          </div>
    </div>
    <div class="content">
        <div class="asideLeft">
            <div class="container mt-3">
                <h2>Employee</h2>
                <ul class="nav flex-column">
                  <li class="nav-item">
                    <h4 routerLink="home"> <i class="bi bi-house-door-fill"></i> Home </h4>
                  </li>
                  <li class="nav-item">
                    <h4 routerLink="employees"><i class="bi bi-person-workspace"></i> Employees </h4>
                  </li>
                  <li class="nav-item">
                 <h4 routerLink="createEmployee">CreateEmployee</h4>
                  </li>
                  <li class="nav-item">
                   
                  </li>
                </ul>
              </div>
        </div>
        <div class="asideRight">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
